@import '../../Variables/variables.css';

.about{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.about__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
}

.about__content-files,
.about__content-files-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.about__content-title{
    font-size: 4rem;
    font-weight: 900;
    color: var(--blue);
    padding: 2rem;
}

.about__image{
    background-color: var(--blue);
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    height: 30rem;
    width: 100%;   
}

.image-ab{
    object-fit: cover;
    width: 100%;
}

.about__content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    line-height: 4.5rem;
    font-weight: 400;
}

.btn_api{
    background: var(--blue);
    color: var(--white);
    padding: 0 1rem;
    border-radius: .3rem;
}

.about__content-btnApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.apple-btn{
    background-image: url(./apple.png);
    width: 16.4rem;
    height: 5rem;
}

.android-btn{
    background-image: url(./googlePlay.png);
    width: 19rem;
    height: 5.5rem;
}

.apple-btn,
.android-btn{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    
}

@media (min-width: 990px) {

    .about__content{
        margin: 5rem 0;
    }

    .about__content-files{
        flex-direction: row;
    }

    .about__content-files-2{
        flex-direction: row-reverse;
    }

    .about__content-text{
        width: 50%;
    }

    .widther{
        width: 90%;
    }

    .about__content-btnApp{
        flex-direction: row;
    }

    .about__content-title{
        width: 90%;
        font-size: 7rem;
    }
}