@import '../../Variables/variables';

.register-container{
    margin-top: 5rem;
}


.register__section-1{
    display: none;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    max-width: 40rem;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.register__section-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.register__image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    padding: 1.5rem;
    border-radius: 100%;
}

.register__title{
    color: var(--blue);
    font-size: 4rem;
    font-weight: 300;
}

.register__section-3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.register__section-3 label{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register__section-3 input {
    padding: .7rem;
    font-size: 1.8rem;
    outline: none;
    border: none;
}

.input__name{
    font-size: 2rem;
    font-weight: 500;
}

.register__section-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-register-2{
    background: #041e424f;
    border: 1px solid var(--blue);
    color: var(--blue);
    border: none;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.btn-register-2:hover{
    transition: all .6s;
    background: var(--blue);
    color: var(--white);
}

.register__section-5{
    text-align: center;
}

.success-toast-register{
    margin: 0 auto;
    width: 95%;
    background: var(--green);
    border: 1px solid var(--black-green);
    color: var(--black-green)
}

.error-toast-register{
    margin: 0 auto;
    width: 95%;
    background: var(--pink);
    border: 1px solid var(--red);
    color: var(--red);
}

.Toastify__close-button {
    color: var(--grey);
}

@media (min-width: 990px) {

    .register-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .register{
        margin: 0;
        border-radius: 0 1rem 1rem 0;
    }
    .register__section-1{
        display: block;
        border-radius: 1rem 0 0 1rem;
        width: 80%;
        height: 71.9rem;
        background: var(--blue);
    }

    .error-toast-register{
        width: 100%;
    }

    .success-toast-register{
        width: 100%;
    }
}