@import './font.css';

:root{
    --bodyFont: 'Nunito Sans', sans-serif;
    --blue: #041e42;
    --white: #fafafa;
    --red : #ff0000;
    --pink: #e3bcb8;
    --green: #94d49e;
    --black-green: #002e07;
    --grey: #808080;
}