@import '../../Variables/variables.css';

.main{
    height: 100%;
}

.main,
.main__content,
.main__content-2,
.main__content-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.main__title{
    font-size: 4rem;
    color: var(--blue);
    font-weight: 900;
    text-align:left;
    line-height: 6.5rem;
    padding: 1rem; 
}

.main__image{
    background-color: var(--blue);
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    height: 30rem;
    width: 100%;   
}

.image-gl{
    object-fit: cover;
    width: 100%;
}


.main__content-text p {
    font-weight: 600;
    line-height: 4.5rem;
    padding: 1.5rem;
}

.register__btn {
    color: var(--white);
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-color:var(--blue);
    padding: 1rem 2rem;
    border-radius: .2rem;
}

.register__btn:hover{
    background-color: var(--blue);
    color: var(--white);
    transition: all .6s;
}

.main__subtitle{
    color: var(--blue);
    font-size: 4rem;
    font-weight: 900;
    padding: 1rem;
}



@media (min-width: 990px) {

    .main__title,
    .main__subtitle{
        font-size: 7rem;
        width: 89%;
        line-height: 8rem;
        margin: 5rem 0;
    }

    .main__content {
        flex-direction: row;
    }

    .main__content-2{
        flex-direction: row-reverse;
    }

    .main__content-text{
        width: 50%;
    }

    .main__content-text p{
        font-size: 2rem;
        line-height: 5.5rem;
    }
}